#feature {
  margin: 2px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;

  max-width: 300px;
  min-width: 250px;
}

.feature-icon {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 0 auto 15px;
}

.feature-icon svg {
  width: 100%;
  height: 100%;
}

h3#name {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 10px;
}

p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #666;
}

.icon-link {
  display: inline-block;
  color: #007bff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.icon-link:hover {
  color: #0056b3;
}

.icon-link svg {
  margin-left: 5px;
  fill: #007bff;
  transition: fill 0.2s ease-in-out;
}

.icon-link:hover svg {
  fill: #0056b3;
}

#text {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 1000px;
  text-align: justify;
  line-height: 1.8;
  font-family: Arial, sans-serif;
  color: #333333;
}

#tex-1 {
  margin: 0;
}

/*news*/
.news-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  text-align: center;
}

.feature {
  flex: 1 1 calc(25% - 16px);
  box-sizing: border-box;
  max-width: calc(25% - 16px);
}

.feature-icon {
  margin: 0 auto;
}

#feature-icon {
  border-radius: 0;
  height: 300px;
  width: 300px;
}

@media (max-width: 480px) {
  .feature {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .news-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
