.main-header {
  font-size: 1.9rem; /* Размер шрифта для заголовка */
  font-weight: bold; /* Жирный шрифт */
  text-transform: uppercase; /* Преобразование текста в верхний регистр */
  color: #00008b; /* Темный цвет текста */
  text-align: center; /* Центрирование текста */
  margin-bottom: 1rem; /* Отступ снизу */
  letter-spacing: 0.1em; /* Интервал между буквами */
}

.subtext {
  font-size: 1.2rem; /* Размер шрифта для подзаголовков */
  color: #34495e; /* Серый цвет текста */
  text-align: center; /* Центрирование текста */
  margin: 0.5rem 0; /* Отступ сверху и снизу */
  line-height: 1.6; /* Высота строки для лучшей читаемости */
}

.subtext:first-of-type {
  font-style: italic; /* Курсив для первого подзаголовка */
  color: #34495e; /* Немного более темный цвет */
}
.feature {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.feature a.icon-link {
  margin-top: auto; /* Отправляет ссылку в конец блока */
  position: absolute; /* Позиционирует относительно контейнера .feature */
  bottom: 10px; /* Отступ от нижнего края контейнера */
  left: 50%;
  transform: translateX(-50%); /* Центрирует ссылку по горизонтали */
}
